* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  font-size: 16px;
  font-family:'Times New Roman', Times, serif;  
  background-color: rgba(112, 210, 240, 0.329);
}

#main {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; 
}


#title {
  margin-top: 20px;
  font-size: 2rem;
  text-align: center;
}

.p01 {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: left;
}

.p01:first-of-type {
  text-align: center;
}

.p01:last-of-type {
  margin-left: 10px;
  font-weight: 300;
}

#img-div {
  background-color: white;
  padding: 20px; 
  max-width: 100%;  
}

#image {
  max-width: 100%;  
  width: 100%;
  height: auto;
  display: block;
}

#img-caption {
  line-height: 1.5;
  text-align: center;
}

#tribute-info {
  margin: 50px auto 30px;
  text-align: center;
}

#h02 {
  font-size: 1.25rem;
}

ul > li {
  text-align: left;
  word-spacing: 2px;
  margin: 30px; 
  padding-left: 0;
}

main p:last-child {
  font-weight: bold;
}


#tribute-link {
  color: #477ca7;
  font-size: 1rem;
  font-weight: bold;
}


/* FOR LARGE SCREENS */
@media only screen and (min-width: 1024px) {
  #main {
    width: 70%;
  }

  #title {
    font-size: 3rem;    
  }
  
  .p01 {
    font-size: 1.25rem;
  }

  #tribute-info {
    width: 70%;
  }

  main p:last-child {
    text-align: center;
    word-spacing: .08;
    font-size: 1.25rem;

  }

  #tribute-link {
    font-size: 1.25rem;
  }
}

